@PART[NMBProduct30Egnine|NMBWS10BEngine]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}