/___UnityDropFolder/
/__UnityDropDirectory/
/000_KSPBurst/
/Ace_Kombat/
/AmazingCurveEditor/
/BoxOfStardust/
/CameraTools/
/CaptureTools/
/CinematicShaders/
/CorrectCOL/
/Daeson_Heavy_Industries/
/DarianNavy/
/DroidCorpAces/
/EditorExtensionsRedux/
/EnvironmentalVisualEnhancements/
/FJRTgoodies/
/FJRTMissilePack/
/FoxDefenseContracts/
/HeapPadder/
/HUDReplacer/
/JimmyTemp/
/KerbalEngineer/
/KerbalFX/
/KerbalPowers/
/KFC/
/Kopernicus/
/KronalVesselViewer/
/KSPCommunityFixes/PluginData/TextureCache/
/LightsOut/
/LoadingScreenManager/
/Parallax_StockPlanetTextures/
/Parallax_StockScatterTextures/
/Parallax_StockTerrainTextures/
/ParallaxContinued/
/Pilot Assistant/
/PlanetShine/
/PreciseEditor/
/RetractableLiftingSurface/
/Scatterer/
/ScattererAtmosphereCache/
/SPVE/
/Squad/
/SquadExpansion/
/StockScattererConfigs/
/StockVolumetricClouds/
/SXT/
/TimeControl/
/TUFX/
/TwinCrownAerospace/
/UnityExplorerKSP/
/ZTheme/
/zzz_Deferred

/ModuleManager.ConfigCache
/ModuleManager.ConfigSHA
/ModuleManager.Physics
/ModuleManager.TechTree

#!TweakScale/patches/Squad/
#!TweakScale/patches/SquadExpansion/

#/test/
BDArmory/PluginData/tournament.state
*.log
