___UnityDropFolder/
CaptureTools/
CorrectCOL/
Daeson_Heavy_Industries/
DarianNavy/
EnvironmentalVisualEnhancements/
HeapPadder/
JimmyTemp/
KerbalPowers/
KFC/
LoadingScreenManager/
PlanetShine/
Scatterer/
ScattererAtmosphereCache/
Squad/
SquadExpansion/
StockScattererConfigs/
StockVolumetricClouds/
SXT/
TUFX/
TwinCrownAerospace/
UnityExplorerKSP/
